{% include 'global/index.html' %}
<body>
    {% include 'global/partials/header.html' %}
    <main>
        <section>
            <div>
                <h2 id="div__h2_01">Adventure Travel</h2>
                <h2 id="div__h2_02">Connecting you to your dreams!</h2>
                <hr>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque impedit delectus non nihil qui vel error suscipit consequatur facere dolore quis laborum quisquam quidem natus, voluptas atque. Ratione, necessitatibus vero!</p>
            </div>
        </section>
        <article>
            <div>
                <h2 id="div__h2_03">Active Peoples</h2>
                <h2 id="div__h2_04">Who we Are?</h2>
                <hr>
                <p>We are a travel company around the world, we make reservations in hotels and inns. Everything in the best quality for you. Come and connect to the world with us, come be our client!</p>
            </div>
        </article>
    </main>
    <address class="container address__space">
        <div class="row">
            <div class="col">
                <h3>
                    <i class="bi bi-envelope"></i>
                        E-MAIL
                </h3>
                <span>contact@adventuretravel.com</span>
            </div>
            <div class="col">
                <h3>
                    <i class="bi bi-telephone"></i>
                        PHONES
                    </h3>
                    <span>+1 (212) 456-8886 | +1 (212) 736-1526</span>
            </div>
        </div>
    </address>
    {% include 'global/partials/footer.html' %}
</body>
</html>